# Dependency directories
node_modules/

# Production build
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/
.idea/
.DS_Store

# Miscellaneous
*.log
coverage/
*.env
