.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

h1 {
  color: #E0E0E0;
  text-align: center;
  margin: 20px 0;
  font-size: calc(10px + 3vmin);;
}
h1 .highlighted-letter {
  color: #0088ff; /* Red color for the single letter */
  font-weight: bolder;
  font-size: 1.25em; /* Larger font size for the single letter */
}

.App-header {
  background-color: #353535;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .App-header {
    font-size: calc(8px + 2vmin);
  }

  .App-logo {
    height: 30vmin;
  }

  h1 {
    font-size: 1.5em;
  }
}

.connection-status {
  margin-left: auto;
  margin-right: 10px;
  margin-top: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red; /* Default to red (disconnected) */
}

.connection-status.connected {
  background-color: green; /* Green when connected */
}
